<div class="main" id="main">
    <div class="mainBlock">
        <div class="title">
            <h1>TITULO DEL PROYECTO EN GESTION </h1>
        </div>
        <div class="subTitle">
            <h2>Sub titulo del proyecto en gestion</h2>
            <div class="titleVideo">
                    <a href="https://www.facebook.com/watch/?v=282351634408534" class="ver">VER AHORA</a>
                    <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
    <div class="map">
        <a  href="https://www.facebook.com/watch/?v=282351634408534" class="mapa">VER MAPA DE DISTIBUCION DE TIERRA </a>
        <i class="fa-solid fa-map"></i>
    </div>


</div>