<div id="grid-one">
    <div class="block">
        <div class="col1 fil1">
            <h3>Algo que contar</h3>
            <img src="https://p0.pikist.com/photos/337/425/fields-tree-hill-landscape-nature-sky-clouds-rural-meadow.jpg" alt="img 1">
        </div>
        <div class="col1 fil2">
            <h3>Algo que contar</h3>
            <img src="https://wallpapercave.com/wp/WnAF0sm.jpg" alt="img 2">
        </div>
        <div class="col1 fil3">
            <h3>Algo que contar</h3>
            <img src="https://wallpapercave.com/wp/wp4963538.jpg" alt="img 3">
        </div>
        <div class="col2a4 fil123">
            <h3>Algo que contar mas espesifico</h3>
            <p class="textcol2a4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequuntur natus porro eaque exercitationem, quae voluptas ducimus tempore, fuga asperiores vero! Aperiam enim accusamus temporibus tenetur consectetur in autem illo? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, repellendus magni. Iusto sint molestiae et! Voluptas debitis odit repellat incidunt, culpa temporibus ducimus quisquam vel magnam atque possimus accusamus placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laudantium repellat ex sit enim. Ipsa minus vero magni? Non, cumque! Nam odit sequi velit natus debitis? Officiis officia doloribus quos.</p>
            <img src="https://wallpapercave.com/wp/LIZOIOy.jpg" alt="img 4">
        </div>
    </div>
</div>
