<header >
    <div id="menu">
        <div id="logo">
            <img src="../../../assets/iconos/logo.png" alt="logo">
        </div>
        <div class="midBar">
            <div class="recursos">
                <div class="humano">
                     <a href="#">HUMANO</a>
                </div>
                <div class="territorio">
                     <a href="#">TERRITORIO</a>
                </div>
                <div class="circular">
                     <a href="#">CIRCULAR</a>
                </div>
            </div>
            <div class="referentes">
                <div class="spacioIz">
                     <a href="#">MUNICIPALIDAD</a>
                </div>
                <div class="spacio"> </div>
                <div class="spacioDr">
                     <a href="#">COPERATIVA</a>
                </div>
            </div>
        </div>
        <div class="blockBurguer">
            <div class="hamburger-menu" id="hambuergerClick">

                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

        </div>
    </div>
    <div id="expand" class="displayNone" >
        <div class="cerrar">
            <div class="blockExpand">
                <div class="expand-menu" id="expandClick">
    
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
    
            </div>

        </div>
        <div class="expandList">
            <div class="1 exl">
                <a href="#">Planes</a>
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
            <div class="1 exl">
                 Planes
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
            <div class="1 exl">
                 Planes
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
            <div class="1 exl">
                 Planes
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
            <div class="1 exl">
                 Planes
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
            <div class="1 exl">
                 Planes
            </div>
            <div class="2 exl">
                 Mapa de Planificasion
            </div>
            <div class="3 exl">
                 Guia de video
            </div>
        </div>
    </div>
</header>
